.box1{
    background-color: black;
    height: 50px;
}
.box2{
    background-color: blue;
    height: 357px;
    width: 30%;
    display: inline-block;
}
.box3{
    background-color: red;
    height: 357px;
    width: 30%;
    display: inline-block;
}

.box5{
    background-color: blue;
    height: 316px;
    width: 30%;
    display: inline-block;
}
.box4{
    background-color: green;
    height: 50px;
}